<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>786170108196-1497ael0bhed6hr4jpdghkgv1sctada3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.786170108196-1497ael0bhed6hr4jpdghkgv1sctada3</string>
	<key>API_KEY</key>
	<string>AIzaSyDLqLHU4lB-g6CJGPUXgH6qYT6g0RuC3IU</string>
	<key>GCM_SENDER_ID</key>
	<string>786170108196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.MichaelReactNative</string>
	<key>PROJECT_ID</key>
	<string>newsapp-36ea5</string>
	<key>STORAGE_BUCKET</key>
	<string>newsapp-36ea5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:786170108196:ios:e87dcc9d185d9e26c1bbb1</string>
</dict>
</plist>